<!-- 
This is a placeholder partial for the post footer. Create a file called
layouts/partials/single/footer.html in your own site to overwrite this
placeholder.
-->

<script>
    window.onscroll = function(ev) {
    if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
        document.getElementById('kofi-button').classList.add('mfp-ready');
        document.getElementById('kofi-speechbubble').classList.add('visible');
    }
};
</script>


<div class="kofi-info">
    <div id="kofi-button" class="mfp-newspaper">
        <div class="mfp-with-anim">
            <a href="https://ko-fi.com/jibbow">
                <img src="/images/ko-fi-round.png" alt="Buy me a coffee via ko-fi.com" width="60px"/>
            </a>
        </div>
    </div>
    <div id="kofi-speechbubble">
        Buy me a coffee!
    </div>
</div>
